.logo {
    border: 2px solid rgb(29, 24, 71);
}

.buttonsDiv {
    border: 2px solid rgb(14, 153, 100);
    display: flex;
    justify-content: space-evenly;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}